
a.more {
    background: rgba(0, 0, 0, 0) url("images/continue.png") no-repeat scroll center top;
    color: #7095b5;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    padding: 2px 20px 0 0;
    text-align: center;
    text-decoration: none;
    width: 122px;
}
a.more:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
a {
    text-decoration: none;
}
p {
  margin: 0 0 10px;
  padding-left: 13px;
  padding-top: 15px;
  text-align: justify;
}
img {
    border: medium none;
}
blockquote {
    font-style: italic;
    margin: 0 0 0 10px;
}
cite {
    color: #3d8e7d;
    font-weight: bold;
}
cite span {
    color: #3d8e7d;
}
em {
    color: #000;
}

.cleaner {
    clear: both;
}
.h10 {
    height: 10px;
}
.h20 {
    height: 20px;
}
.h30 {
    height: 30px;
}
.h40 {
    height: 40px;
}
.h50 {
    height: 50px;
}
.h60 {
    height: 60px;
}
.float_l {
    float: left;
}
.float_r {
    float: right;
}
.image_wrapper {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px;
}
.image_fl {
    float: left;
    margin: 3px 30px 0 0;
}
.image_fr {
    float: right;
    margin: 3px 0 0 30px;
}
.tooplate_list {
    list-style: outside none none;
    margin: 20px 0 20px 10px;
    padding: 0;
}
.tooplate_list li {
    background: rgba(0, 0, 0, 0) url("images/tooplate_list.png") no-repeat scroll 0 5px;
    color: #5093cd;
    margin: 0;
    padding: 0 0 5px 20px;
}
.tooplate_list li a {
    color: #5093cd;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}
.tooplate_list li a:hover {
    color: #fff;
}
#tooplate_wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
}
#tooplate_header {
    background: rgba(0, 0, 0, 0) url("images/tooplate_header.jpg") no-repeat scroll center top;
    height: 95px;
    width: 960px;
}
#payment_main img {
    height: 75px;
    width: 190px;
}
#site_title {
    display: block;
    float: left;
    width: 100%;
}
#site_title h1 {
    color: #d98d03;
    float: left;
    font-family: Bernard MT Condensed;
    font-size: 72px;
    font-weight: bold;
    margin-left: 30px;
    padding: 34px;
    text-shadow: 4px 2px 3px #046cab;
    width: 63%;
}
#site_title h1 a {
    background: rgba(0, 0, 0, 0) url("images/tooplate_logo.png") no-repeat scroll left top;
    color: #fff;
    display: block;
    height: 42px;
    text-indent: -10000px;
    width: 200px;
}
#site_title img {
    float: left;
    height: 94px;
    margin-left: 15%;
    width: 94px;
}
#tooplate_menu {
    background: rgba(0, 0, 0, 0) url("images/tooplate_menu.jpg") repeat scroll 0 0;
    clear: both;
    height: 55px;
    width: 960px;
}
#tooplate_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#tooplate_menu ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
#tooplate_content li {
  padding-left: 12px;
  list-style:inside ;
}
#tooplate_menu ul li a {
    color: #081e30;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 55px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #f5f5f5;
    width: 115px;
}
#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
    background: rgba(0, 0, 0, 0) url("images/tooplate_menu_hover.png") no-repeat scroll center top;
    line-height: 49px;
    text-shadow: 1px 1px 1px #86bce9;
}
#tooplate_main {
    background: rgba(0, 0, 0, 0) url("images/tooplate_main.jpg") no-repeat scroll center top;
    clear: both;
    padding: 20px;
    width: 920px;
}
#tooplate_content {
    float: left;
    width: 577px;
}

#Layer27 strong {
  color: #006EAD;
  font-size: 17px;
  text-decoration: underline;
  text-transform: capitalize;
}
#homepage_slider {
    background: #081e30 none repeat scroll 0 0;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px;
    width: 580px;
}
.post_box {
    border-bottom: 1px solid #164a79;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.post_box_last {
    border-bottom: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.post_box .date_box {
    background: rgba(0, 0, 0, 0) url("images/tooplate_date.png") no-repeat scroll left top;
    float: left;
    height: 115px;
    text-align: center;
    width: 115px;
}
.date {
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;
    padding: 20px 0 0;
}
.date span {
    clear: both;
    display: block;
    font-size: 14px;
    margin-top: 10px;
}
.post_comment {
    color: #081e30;
    font-weight: bold;
}
.post_box_right {
    float: right;
    width: 600px;
}
.post_box_right img {
    height: 180px;
    margin-bottom: 10px;
    width: 450px;
}
.post_box h2 {
    line-height: 30px;
    margin: 0;
    padding: 10px 0;
}
.post_box .post_meta {
    background: #051624 none repeat scroll 0 0;
    margin-bottom: 20px;
    padding: 5px;
}
.post_box p {
    margin-bottom: 20px;
    text-align: justify;
}
#comment_section {
    clear: both;
    margin-bottom: 60px;
    width: 578px;
}
.first_level {
    margin: 0;
    padding: 0;
}
.comments {
    list-style: outside none none;
}
.comments li {
    list-style: outside none none;
    margin-bottom: 10px;
}
.comments li .commentbox1 {
    background: #021321 none repeat scroll 0 0;
    border: 1px solid #000;
}
.comments li .commentbox2 {
    background: #072238 none repeat scroll 0 0;
    border: 1px solid #021321;
}
.comments li .comment_box {
    clear: both;
    padding: 15px;
    width: 100%;
}
.comment_box .gravatar {
    background: #3c3735 none repeat scroll 0 0;
    border: 1px solid #3c3735;
    float: left;
    margin-right: 15px;
    width: 50px;
}
.comment_box .gravatar img {
    height: 50px;
    margin: 0;
    width: 50px;
}
.comment_box .comment_text {
    margin: 0 0 0 65px;
}
.comment_box .comment_text p {
    margin: 0;
}
.comment_text .comment_author {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}
.comment_text .date {
    color: #9b8e79;
    font-size: 12px;
    font-weight: normal;
    padding-left: 10px;
}
.comment_text .time {
    color: #9b8e79;
    font-size: 12px;
    font-weight: normal;
    padding-left: 10px;
}
.comment_text .reply a {
    background: #3694ab none repeat scroll 0 0;
    border: 1px solid #fff;
    clear: both;
    color: #fff;
    display: block;
    float: right;
    height: 24px;
    padding: 1px 10px;
    text-align: center;
}
#comment_form {
    clear: both;
}
#comment_form h3 {
    border-bottom: 1px dotted #666;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#comment_form form {
    background: #021321 none repeat scroll 0 0;
    border: 1px solid #000;
    padding: 20px;
}
#comment_form form label {
    color: #fff;
}
#comment_form textarea {
    background: #072238 none repeat fixed 0 0;
    border: 1px solid #000;
    color: #fff;
    display: block;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    height: 150px;
    margin-top: 5px;
    padding: 5px;
    width: 540px;
}
#comment_form .form_row {
    margin-bottom: 15px;
    width: 100%;
}
#comment_form form input {
    background: #072238 none repeat fixed 0 0;
    border: 1px solid #000;
    color: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
    width: 200px;
}
#comment_form .submit_btn {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 90px;
}
#gallery {
    margin: 0;
    padding: 0;
}
#gallery .gallery_box {
    background: rgba(0, 0, 0, 0) url("images/tooplate_divider.jpg") repeat-x scroll center bottom;
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
#gallery .gallery_box img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    float: left;
    height: 200px;
    margin-right: 40px;
    padding: 9px;
    width: 540px;
}
#gallery h3 {
    line-height: 30px;
}
#gallery p {
    margin-bottom: 30px;
}
#gallery .last_box {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
#tooplate_sidebar {
    background: #081e30 none repeat scroll 0 0;
    border: 1px solid #000;
    float: right;
    width: 278px;
}
.sidbar_box {
    background: rgba(0, 0, 0, 0) url("images/tooplate_sidebar_box.jpg") no-repeat scroll center top;
    border-bottom: 1px solid #194569;
    padding: 14px;
}
.recent_comment_box {
    border-bottom: 1px dashed #433d3a;
    margin: 0 0 15px;
    padding: 0 0 15px;
}
.recent_comment_box a {
    color: #6eb5ff;
    font-weight: bold;
}
.last_recent_comment_box {
    border: medium none;
    margin: 0;
    padding: 0;
}
#contact_form {
    padding: 0;
    width: 400px;
}
#contact_form form {
    margin: 0;
    padding: 0;
}
#contact_form form .input_field {
    background: #021321 none repeat scroll 0 0;
    border: 1px solid #102a61;
    color: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
    width: 280px;
}
#contact_form form label {
    color: #fff;
    display: block;
    font-size: 14px;
    margin-right: 10px;
    width: 100px;
}
#contact_form form textarea {
    background: #021321 none repeat scroll 0 0;
    border: 1px solid #102a61;
    color: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    height: 200px;
    margin-top: 5px;
    padding: 5px;
    width: 388px;
}
#contact_form form .submit_btn {
    background: #021321 none repeat scroll 0 0;
    border: 1px solid #102a61;
    color: #fff;
    font-size: 14px;
    margin: 5px 0;
    padding: 5px 14px;
    text-decoration: none;
}
#tooplate_footer_wrapper {
    background: rgba(0, 0, 0, 0) url("images/tooplate_divider.jpg") repeat-x scroll center top;
    clear: both;
    width: 960px;
}
#tooplate_footer {
    background: rgba(0, 0, 0, 0) url("images/tooplate_footer.jpg") no-repeat scroll center bottom;
    clear: both;
    padding: 30px;
    width: 900px;
}
#tooplate_footer .col_w280 {
    float: left;
    margin-right: 30px;
    width: 280px;
}
#tooplate_footer .last_col {
    margin: 0;
}
#tooplate_copyright {
    background: rgba(0, 0, 0, 0) url("images/tooplate_copyright.jpg") no-repeat scroll center top;
    clear: both;
    height: 35px;
    padding: 15px 0 0;
    text-align: center;
    width: 960px;
}
#tooplate_copyright a {
    color: #fff;
    text-decoration: none;
}
